@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

    body {
      background-color: black;
      color: white;
      text-align: center;
      font-family: 'Libre Baskerville', serif;
    }

    .container {
      width: 50%;
      margin-left: 25%;
    }

    h1 {
      text-transform: uppercase;
    }

    img {
      width: 100%;
      border: 5px solid white;
    }